*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
.wrapper{
    height:100vh;
    overflow-y:scroll;
    overflow-x: hidden;
    perspective: 10px;
   
}
header{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    z-index: -1;
}
.background{
    transform: translateZ(-40px) scale(5);
}
.foreground{
    transform: translateZ(-20px) scale(3);
}
.background,.foreground{
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
h1{
    position:absolute ;
    top:5rem;
    /* left:50%; */
    font-size: 10rem;
    letter-spacing: 4px;;
    color:white;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
}